<!DOCTYPE html>
<html>
  <head>
    <title>Guestbook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Read the docs: http://guides.rubyonrails.org/layouts_and_rendering.html -->
  <div class="container">
    <header>
      <h1>Guestbook</h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
        </ul>
      </nav>
    </header>

    <div class="row">
      <div class="col s6">
        <%= yield %>

      </div>

    </div>

  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
