<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, id: :user_user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :has_scooter %>
    <%= form.check_box :has_scooter, id: :user_has_scooter %>
  </div>

  <div class="field">
    <%= form.label :needs_scooter %>
    <%= form.check_box :needs_scooter, id: :user_needs_scooter %>
  </div>

  <div class="field">
    <%= form.label :location_SF %>
    <%= form.check_box :location_SF, id: :user_location_SF %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
